
.navLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 520px;
    height: fit-content;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 85px;
        height: 30px;
    }

}

.button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 100%;

    button{
        border: none;
        background-color: transparent;
        font-weight: 550;
        color: grey;
    }

    .features{
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 550;
    }

    .company{
        width: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 550;
    }

}