.newBoxOne{
    background-color: #FFF2E7;
    color: #CC660A;
    width: 35px;
    border: transparent;
}

.newBoxTwo{
    background-color: #FFE5F4;
    color: #CC0078;
    width: 35px;
    border: transparent;
}

.newBoxNo{
    display: none;
}