.footer{
    width: 1350px;
    height: 110px;
    border-top: 1px #ececec solid;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
}

.divFooter{
    display: flex;
    justify-content: center;
}