.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    width: 475px;
    margin-top: 60px;

    h1{
        font-size: 70px;
        font-weight: 900;
        word-spacing: -5px;
        line-height: 65px;
        margin-bottom: 40px;
    }

    p{
        font-size: 20px;
        font-weight: 500;
        color: #8e888a;
        width: 370px;
        margin-bottom: 30px;
    }
}