.sectionFour{
    display: flex;
    height: 550px;
    width: 1350px;
    box-sizing: border-box;
    padding-top: 30px;
    justify-content: space-around;

    .column{
        display: flex;
        flex-direction: column;
        height: fit-content;
        
        .problem{
            height: 140px;
        }

    }
    
}

.allFour{
    display: flex;
    justify-content: center;
    background-color: #f7f7f8;
}

