.nav{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px 5px 15px;
    width: 1350px;
    border-bottom: 1px #ececec solid;
}

.navAll{
    display: flex;
    justify-content: center;
}